---
layout: page
title: Blog
---

<div class="container"> <!-- Article 1 -->
  {% for post in site.posts %}

  {% if forloop.first == true %}
    <div class="row">
      <div class="card mb-4">
        <img class="card-img-top" src="{{ site.baseurl }}{{ post.image }}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.excerpt | strip_html | truncate: 500 }}</p>
          <a href="{{ post.url }}" class="btn btn-primary">Lire l'article →</a>
        </div>
        <div class="card-footer text-muted">
          Posté le 
          {%- assign date_format = "%-d %B %Y" -%}
          {{ page.date | date: date_format }}
        </div>
      </div>
    </div>

  {% else %}

  <!-- Autre article -->
	<div class="row">

	<div class="col-lg-6">
		<div class="card mb-4">
			<img class="card-img-top" src="{{ site.baseurl }}{{ post.image }}" alt="Card image cap">
			<div class="card-body">
				<h2 class="card-title">{{ post.title }}</h2>
				 <p class="card-text">{{ post.excerpt | strip_html | truncate: 500 }}</p>
				 <a href="{{ post.url }}" class="btn btn-primary">Lire l'article →</a>
			</div>
			<div class="card-footer text-muted">
        Posté le 
        {%- assign date_format = "%-d %B %Y" -%}
        {{ page.date | date: date_format }}
			</div>
		</div>	
	</div>
	
  </div>
  {% endif %}

  {% endfor %}
</div>

