---
layout: default
---

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <h2>{{ page.title | escape }}</h2>
          </div>
          <div class="col-lg-6">
            <h5 class="text-muted text-right">
              Posté le 
              {%- assign date_format = "%-d %B %Y" -%}
              {{ page.date | date: date_format }}
            </h5>
          </div>
        </div>	
        <img src="{{ site.baseurl }}{{ post.image }}" class="img-fluid w-100" alt="Responsive image">		
      </div>
      <div class="col-lg-12 my-5">
        {{ content }}
      </div>
    </div>
  </div>
</article>